@import url('https://fonts.cdnfonts.com/css/century-gothic');
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}
body::-webkit-scrollbar {
    display: none;
}

.spline{
  margin-top: 80px;
}

spline-viewer {
    width: 100%;
    height: 100vh;
    background: none;
    position: relative;
    z-index: 1;
}
.parent {
  position: relative;
}

.watermark {
  width: 205px;
  height: 45px;
  z-index: 9999;
  position: absolute;
  bottom: 20px;
  right: 10px;
  background: none;
}

.watermark button {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: none;
  font-size: 10px;
}

.headline h1{
  color:black;
  font-family: "poppins";
  font-weight: 800;
  width:900px;
  line-height: 70px;
  letter-spacing: -3px;
}

.headline{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -1050px;
  background: none;
  height:1000px;
}

.para{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.para p{
  width:70%;
  text-align: center;
  font-size: 20px;
  line-height: 40px;
}

#cursor {
  width: 20px;
  height: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  z-index: 9999;
  position: fixed;
  pointer-events: none;
  font-size: 3px;
  color: #000;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.background {
  position: absolute;
  inset: 0;
  z-index: -10;
  height: 100%;
  width: 100%;
  padding: 24px 20px;
  background: radial-gradient(125% 125% at 50% 10%, #ffffff 40%, rgba(213, 96, 255, 0.793) 100%);
  display: flex;
  align-items: center;
  position: fixed;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}


@media screen and (max-width: 550px) {
  }

