@import url('https://fonts.cdnfonts.com/css/century-gothic');
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}
body::-webkit-scrollbar {
    display: none;
}



spline-viewer {
    width: 100%;
    height: 100vh;
    background: none;
    position: relative;
    z-index: 1;
}
.parent {
  position: relative;
}

.watermark {
  width: 205px;
  height: 45px;
  z-index: 9999;
  position: absolute;
  bottom: 20px;
  right: 10px;
  background: none;
}

.watermark button {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: none;
  font-size: 10px;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}


@media screen and (max-width: 550px) {
  }

