.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;

}

.login-form {
  background: rgb(0, 0, 0);
  padding: 55px;
  border-radius: 30px;
  width: 100%;
  box-shadow: 
  0 0 200px #9200ba68;
  max-width: 400px;
  transition: 0.5s;
}
.login-form:hover{
  box-shadow: 
  0 0 500px #9200bab8;
    transition: 0.5s;
}
.login-form h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #691fa2;
}


.form-group input {
  width: 100%;
  padding: 20px;
  border: 2px solid #691fa2;
  border-radius: 40px;
  font-size: 16px;
}

button[type="submit"] {
  width: 100%;
  padding: 18px;
  background-color: #691fa257;
  color: #691fa2;
  border: 2px solid #691fa2;
  border-radius: 40px;
  font-size: 16px;
  font-family: "Poppins";
  cursor: pointer;
  margin-top: 40px;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #691fa2;
  color:black
}

.register-link {
  text-align: center;
  margin-top: 20px;
  color: #ffffff;
}

.register-link a {
  color: #691fa2;
  text-decoration: none;
  font-weight: 500;
}

.register-link a:hover {
  text-decoration: underline;
} 